@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';
$background: #333;
$box_1_color : #aaa;
$buttons: #bb2233;
$lightgrey:#aaa;


html{
  background: $lightgrey;
}

body {
  margin: 0;
}

/*DON'T TOUCH THIS!*/
#flex_container {

  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.activecode {
  display: flex;
  background: $buttons;
  height: 300px;
  width: 100%;
  justify-content: center;
}

.code {
  width: 60%;
  height: 250px;
  background: $background;
  align-self: center;
  color:white;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
  display: flex;

}

.code>p {
  align-self: center;
  text-align: center;
  width: 100%;

}

/* begin touching from here */

#row_wrapper {
  width: 450px;
  height: 450px;
  background: $background;
  border:3px solid $buttons;
}

.isFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



#column_wrapper {
  border: 3px solid $background;
}

.isFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.box1{
  width: 100px;
  height: 100px;
  background-color: $box_1_color;
  margin: 10px;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: $box_1_color;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button1, .button2, .button3 {
  padding: 5px 20px;
  background-color: $buttons ;
  color:white;
  width: 150px;
  text-align: center;
}
