@import 'https://fonts.googleapis.com/css?family=Cutive+Mono';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
$background: #333;
$box_1_color : #aaa;
$buttons: #bb2233;
$lightgrey:#aaa;
$fontstack:'Open sans', sans-serif;
$row_wrapper: #fff;


html{
  background: $lightgrey;
}

body {
  margin: 0;
}

/*DON'T TOUCH THIS!*/
#flex_container {

  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.activecode {
  display: flex;
  background: $buttons;
  height: 300px;
  width: 100%;
  justify-content: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.code {
  width: 60%;
  height: 250px;
  background: $background;
  align-self: center;
  color:white;
  font-family: 'Cutive Mono', monospace;
  font-size: 2em;
  display: flex;
  flex-direction: row;

}

.code>p {
  align-self: center;
  text-align: center;
  width: 100%;

}

/* begin touching from here */

#row_wrapper {
  width: 450px;
  height: 450px;
  background: $background;
  border:5px solid $row_wrapper;
  align-self: center;
}

.isFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#column_wrapper {
  border: 3px solid $buttons;
}

.isFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box1{
  width: 100px;
  height: 100px;
  background-color: $box_1_color;
  margin: 10px;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: $box_1_color;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  }

.button1, .button2, .button3 {
  padding: 5px 20px;
  background-color: $buttons ;
  color:white;
  width: 150px;
  text-align: center;
  font-family:'Open sans', sans-serif;
  font-weight:600;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.flextoggle_active {
  -webkit-box-shadow: 5px -5px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px -5px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px -5px 4px 0px rgba(0, 0, 0, 0.75);
}

.button2, .button3{
  margin-top: 20px;
}

.legende {
  background: $background;
  font-family: $fontstack;
  color:white;
  padding:0 25px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  }

.farbkasten {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.weiß {
  background: $row_wrapper;
}

.rot {
  background: $buttons;
}

.legend_item_wrapper {
  display: flex;
  margin-top: 10px;
}